<p id="notice"><%= notice %></p>

<meta name="viewport" content="width=device-width, initial scale =1"
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">






<div class="container">
  <h2>Hungry?</h2>
  <p align="center">Check out the Food Trucks available:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>Location</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.name %></td>
        <td><%= link_to truck.web_url, "http://"+truck.web_url %></td>
        <td>
          <%= truck.weekly_schedules[0].location %>
        </td>
        <td><%= truck.phone_number %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
