<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @truck.name %>
</p>

<%= image_tag(@truck.image_url, width: '320') %>
<p>
  <strong>Web url:</strong>
  <%= @truck.web_url %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @truck.phone_number %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', truck_owner_path(@truck_owner) %>
