<div class ="container center_div">

<p id="notice"><%= notice %></p>

<p align="center">
  <strong>Name:</strong>
  <%= @truck.name %>
</p>
<p align="center">
<%= image_tag(@truck.image_url, width: '320') %>
</p>
</br>
<p align="center">
  <strong>Web url:</strong>
  <%= @truck.web_url %>
</p>

<p align="center">
  <strong>Phone number:</strong>
  <%= @truck.phone_number %>
</p>
</div>
<p align="center">
<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', truck_owner_path(@truck_owner) %>
