<p id="notice"><%= notice %></p>

<h1>Listing Truck Owners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truck_owners.each do |truck_owner| %>
      <tr>
        <td><%= truck_owner.name %></td>
        <td><%= truck_owner.email %></td>
        <td><%= link_to 'Show', truck_owner %></td>
        <td><%= link_to 'Edit', edit_truck_owner_path(truck_owner) %></td>
        <td><%= link_to 'Destroy', truck_owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck owner', new_truck_owner_path %>
