<p id="notice"><%= notice %></p>

<H1>
  <%= @truck_owner.name %>
</H1>

<H3>
  <%= @truck_owner.email %>
</H3>

<%= link_to 'Edit', edit_truck_owner_path(@truck_owner) %> |
<%= link_to 'Back', truck_owners_path %>
