<p id="notice"><%= notice %></p>

<h1>Current Trucks Registered:</h1>
</br>
</br>
</br>
<h4 align="center">
  Name: <%= @truck_owner.name.capitalize %>
</h4>

<h4 align="center">
  Email: <%= @truck_owner.email %>
</h4>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Web url</th>
      <th>Phone number</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <!-- <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.name %></td>
        <td><%= truck.web_url %></td>
        <td><%= truck.phone_number %></td>

        <td><%= truck.claimed %></td> -->
        <!-- <td><%= link_to 'Show', truck %></td>
        <td><%= link_to 'Edit', edit_truck_path(truck) %></td>
        <td><%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr>
    <% end %> -->



</br>
</br>
</br>
<%= link_to 'Edit', edit_truck_owner_path(@truck_owner) %> |

<%= link_to 'Back', truck_owners_path %>
