<div class ="container center_div"></div>

<p id="notice"><%= notice %></p>

<h1>Current Trucks Registered:</h1>

</br>
<h4 align="center">
  Name: <%= @truck_owner.name.capitalize %>
</h4>


<h4 align="center">
  Email: <%= @truck_owner.email %>
</h4>

<h4 align="center">
  Schedule: <%= link_to "View", controller: "weekly_schedules", action: "index" %>
</h4>

  <tbody>
    <% @trucks.each do |truck| %>
    <ul class="list-group">
      <li class="list-group-item">Truck Name: <%= truck.name %></li>
      <li class="list-group-item">Link: <%= truck.web_url %></li>
      <li class="list-group-item"><%= link_to "Edit", controller: "trucks", action: "show", id: truck %></li>
      <!-- <li class="list-group-item">Phone Number<%= truck.phone_number %></li> -->

        <% end %>
      </tbody>



</br>
</br>
</br>
<p align="center">
<%= link_to 'Edit', edit_truck_owner_path(@truck_owner) %>
